<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/components/icon.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/components/button.min.css">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
      font-family: sans-serif;
    }

  </style>

</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">STUDENT'S ONLY!</h1>
    <p class="lead">Wishing you all the best, and good lock in your exams<i class="fa fa-thumbs-up"></i></p>
    <hr class="my-4">
    <br><br><br>
    <P class="lead">Create an Account or Login to your Account.</P>
    <p class="lead">
      <a class="ui inverted blue button" href="studentsignup" style="border-radius: 0%; padding: 20px; text-align: center;" role="button"><i class="edit online icon"></i>CREATE YOUR ACCOUNT</a>
      <a class="ui inverted green button" href="studentlogin" style="border-radius: 0%; padding: 20px; text-align: center;" role="button"><i class="edit online icon"></i>LOGIN</a>
    </p>
    <br><br><br>
  </div>
 
  {% include "exam/footer.html" %}
</body>

</html>
