{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<img src="static/image/ccmt.png" width="200" height="200" alt="RCB Logo" style="border-radius: 100px; display: block; margin-left: auto; margin-right: auto">

<h2 class="text-center">Logged Out Successfully. <br> Thank you and have a nice day.</h2>

<br><br><br><br><br><br><br>

{% include "exam/footer.html" %}

  </body>
</html>
